

/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████████  VARIÁVEIS  █████████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

/* BEST COLOR PICKER WEBSITE: https://www.iamsajid.com/ui-colors/ */

:root{
	/* Typography Colors */
	--color-text-primary: oklch(0.96 0.03 265); /* White */
	--color-text-primary-muted: oklch(0.76 0.03 265); /* Off white */
	--color-subtext: oklch(0.72 0.02 265); /* Subtext */

	/* Brand Colors */
	--color-bg-dark: oklch(0.2 0.015 265); /* Plano de fundo */ /* old color oklch(0.1 0.015 265)*/
	--color-bg: oklch(0.25 0.015 265); /* Plano de fundo */ /* old color oklch(0.15 0.015 265)*/
	--color-bg-light: oklch(0.3 0.015 265); /* old color oklch(0.2 0.015 265)*/
	--color-accent1: #025bb0; /* CTA Button ou oklch(0.76 0.1 265)*/
	--color-accent1-hover: #0372db; /* CTA Button brighter*/
	--color-accent2: oklch(0.76 0.1 85); /* Hover amarelo */

	/* Feedback Colors */
	--color-success: oklch(0.7 0.05 160); 
	--color-warning: oklch(0.7 0.05 100);
	--color-danger: oklch(0.7 0.05 30);

	/* Decoration Colors */
	--color-highlight: oklch(0.5 0.03 265);
	--color-border: oklch(0.4 0.03 265);
	--color-border-muted: oklch(0.3 0.03 265);
	--color-info: oklch(0.7 0.05 260);

	/* Gradients */
	--gradient-bg: linear-gradient(0deg, var(--color-bg) 95%, var(--color-bg-light));
	--gradient-bg-hover: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));

	/* Properties and Values */
	--shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15); /*Deslocamento X, Deslocamento Y, Blur, Cor da sombra RGBA*/
	--shadow-hover: 0px 3px 3px hsla(0, 0%, 0%, 0.07), 0px 3px 3px hsla(0, 0%, 0%, 0.15);
	--shadow-active: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 2px 2px hsla(0, 0%, 0%, 0.15);
	--border: solid 1px var(--color-border); /* Borda com cor de borda */
}

body.light{
	/* Typography Colors */
	--color-text-primary: oklch(0.15 0.03 265);   /* White */
	--color-text-primary-muted: oklch(0.4 0.03 265);     /* Off white */
	--color-subtext: oklch(0.50 0.02 265); /* Subtext */

	/* Brand Colors */
	--color-bg-dark: oklch(0.92 0.015 265);   /* Plano de fundo */
	--color-bg: oklch(0.96 0.015 265);   /* Plano de fundo */
	--color-bg-light: oklch(1 0.015 265);
	--color-accent1: #025bb0; /* CTA Button ou oklch(0.4 0.1 265)*/
	--color-accent1-hover: #0372db; /* CTA Button brighter*/
	--color-accent2: oklch(0.4 0.1 85); /* Hover amarelo */

	/* Feedback Colors */
	--color-success: oklch(0.5 0.05 160); 
	--color-warning: oklch(0.5 0.05 100);
	--color-danger: oklch(0.5 0.05 30);

	/* Decoration Colors */
	--color-highlight: oklch(1 0.03 265);
	--color-border: oklch(0.6 0.03 265);
	--color-border-muted: oklch(0.7 0.03 265);
	--color-info: oklch(0.5 0.05 260);

	/* Gradients */
	--bg-gradient: linear-gradient(0deg, var(--color-bg) 95%, var(--color-bg-light));
	--bg-gradient-hover: linear-gradient(0deg, var(--color-bg), var(--color-bg-light));

	/* Properties and Values*/
	--shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15); /*Deslocamento X, Deslocamento Y, Blur, Cor da sombra RGBA*/
	--shadow-hover: 0px 3px 3px hsla(0, 0%, 0%, 0.07), 0px 3px 3px hsla(0, 0%, 0%, 0.15);
	--shadow-active: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 2px 2px hsla(0, 0%, 0%, 0.15);
	--border: solid 1px var(--color-bg); /* Borda na cor do bg */
}

body.light .logo-header{
	content: url("/assets/img/LogoDark_Pedro AGA Silva Engenheiro Mecânico.png");
}


/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████████  TEMA BASE  █████████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

*{
	/*Texto Padrão*/
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-family: Open Sans;
	font-size: 1rem; /*16px*/
	line-height: 1.4; /*Espaçamento entre linhas*/
}

img{
	margin: 0;
}

body{
	background-color: var(--color-bg-dark);
}

a:hover{
	opacity: 0.8;
}

button:hover{
	opacity: 0.8;
}


/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████████  TIPOGRAFIA  ████████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

h1{
	/*Texto*/
	color: var(--color-text-primary); /*Primary TextColor*/
	font-size: 3.052rem; /*48px*/
	font-weight: bold;
	letter-spacing: -0.02em;
	line-height: 1.1; /*Espaçamento entre linhas*/
	margin-top:1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/
}

h2{
	/*Texto*/
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-size: 2.5rem;/*40px*/
	font-weight: bold;
	letter-spacing: -0.01em;
	line-height: 1.1; /*Espaçamento entre linhas*/
	margin-top: 1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/

}

h3{
	/*Texto*/
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-size: 2rem;/*32px*/
	font-weight: bold;
	line-height: 1.1; /*Espaçamento entre linhas*/
	margin-top: 1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/
}

h4{
	/*Texto*/
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-size: 1.5rem;/*24px*/
	font-weight: bold;
	line-height: 1.1; /*Espaçamento entre linhas*/
	margin-top: 1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/
}

p{
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-size: 1rem;/*16px*/
	font-weight: normal;
	line-height: 1.4; /*Espaçamento entre linhas*/
	margin-top: 1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/
}

a{
	text-decoration: none;
	color: var(--color-text-primary); /*Primary TextColor*/
	font-size: 1rem;/*16px*/
	font-weight: normal;
	line-height: 1.4; /*Espaçamento entre linhas*/
}

.subtext{
	color: var(--color-subtext);
}

/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████████  LAYOUT  ████████████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

.section{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}


nav ul{
	list-style: none;
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-end; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
}

footer section ul{
	list-style: none;
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-end; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
}

.page-wrapper{
	/*Sizing*/
	max-width: 1200px; /*Tamanho máximo da largura*/
	width: 100%;
	/*Layout*/
	margin: 0 auto;
	display: flex;
	flex-direction: column; /*Container pai: linha ou coluna*/
	justify-content: flex-start; /*Children horizontal distribuition if flex is row*/
}

.container{
	/*Sizing*/
	width: 100%;
	/*Layout*/
	display: flex;
	flex-direction: column; /*Container pai: linha ou coluna*/
	justify-content: flex-start; /*Children horizontal distribuition if flex is row*/
}

.container-header{
	/*Sizing*/
	width: 100%;
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai é linha ou coluna*/
	justify-content: space-between; /*Children distribuition on horizontal if flex is row*/
	align-items: center; /*Children distribuition on vertical if flex is row*/
}

.container-nav{
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-end; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
}

.container-hero{
	width: 100%;
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: space-between; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
}

.hero-left{
	/*Layout*/
	padding-right: 25%; /*Ocupar menos espaço do container*/
	display: flex;
	flex-direction: column; /*Container pai: linha ou coluna*/
	justify-content: flex-start; /*Children horizontal distribuition if flex is row*/
	align-items: start; /*Children vertical distribuition if flex is row*/
}

.hero-full-line{
	/*Sizing*/
	width: 100%;
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-start; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
}

.container-highlights{
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: space-between; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
}

.container-full-line{
	/*Sizing*/
	width: 100%;
	/*Layout*/
	display: flex;
	flex-direction: row;
	align-items: center;
}

.carousel-wrapper{
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: space-between; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/

	/*SEI LA*/	
	gap: 5%; /*Margin entre itens*/
	overflow: hidden; /* ??? */
}

.container-footer-bottom{
	width: 100%;
	/* Layout */
	padding-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-highlight{
	/* Decoration */
  background-color: var(--gradient-bg); /* Secundary Color */
  border-radius: 0.5rem;
  border: var(--border);
	border-top: solid 1px var(--color-highlight);
  box-shadow: var(--shadow);
	/* Sizing */
	width: 30%;
	min-height: 100px;
	padding: 1rem;
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: center;

  /* Animação */ /* ESTUDAR */
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;
}

.card-highlight:hover{
	/* Decoration */
  background-color: var(--gradient-bg-hover); /* Secundary Color */
}

.card{
	/* Decoration */
  background-color: var(--gradient-bg); /* Secundary Color */
  border-radius: 0.5rem;
  border: var(--border);
	border-top: solid 1px var(--color-highlight);
  box-shadow: var(--shadow);
	/* Sizing */
	width: 30%;
	min-height: 260px;
	padding: 1rem;
	gap: 1rem; /* Margin entre texto e imagem */
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden; /* Esconde oq sair do container */

  /* Animação */ /* ESTUDAR */
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    border-color 0.25s ease;
}

.card:hover{
	/* Decoration */
  background-color: var(--gradient-bg-hover); /* Secundary Color */
}

.card-image{
	/*Sizing*/
	width: calc(100% + 2rem);
	height: auto;
	margin: -1rem -1rem 0rem -1rem; /* Remover o padding do container pai, sentido do relogio, top right bottom left */

	/*Decoration*/
	border-top-left-radius: 0.5rem; /* Arredondamento da borda superior esq. da imagem */
	border-top-right-radius: 0.5rem; /* Arredondamento da borda superior dir. da imagem */


}


/* ────────────────────────────────────────────────────────────────────────── */
/* ███████████████████████████  BOTÕES (BEM)  ███████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

.btn-primary{
	/*Typography*/
	font-size: 1em;
	/*Decoration*/
	background-color: var(--color-accent1); /*CTA Color*/
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	/*Layout*/
	height: 1rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1em; /*Usar rem ou em?*/
	/*Configurações das animações do botão*/
	transition:
		transform 0.15s ease,
		box-shadow 0.15s ease,
		background-color 0.2s ease,
		color 0.2s ease;

}

.btn-primary:hover{
	background-color: var(--color-accent1-hover); /*Hover Elevated CTA Color*/
	/*Fix size? maybe it is bigger than the text around*/
	transform: translateY(-1px); /*Leve movimentação para baixo, muito melhor que animação com scale*/
	box-shadow: var(--shadow-hover);
}

.btn-primary:active {
	/*Feedback ao clicar enquanto mantem o hover*/
	transform: translateY(0);
	box-shadow: var(--shadow-active);
}

.btn-secundary{
	/*Typography*/
	font-size: 1em;
	/*Decoration*/
	background-color: rgba(0, 0, 0, 0.15); /* Transparent Color */
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	/*Layout*/
	height: 1rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	/*Configurações das animações do botão*/
	transition:
		transform 0.15s ease,
		box-shadow 0.15s ease,
		background-color 0.2s ease,
		color 0.2s ease;
}

.btn-secundary:hover{
	background-color: rgba(0, 0, 0, 0.30); /* Transparent Secundary Color */
	transform: translateX(2px);
}

.btn-secundary:active{
	/*Feedback ao clicar enquanto mantem o hover*/
	transform: translateX(0px);
}

/* ────────────────────────────────────────────────────────────────────────── */
/* ██████████████████████████  SMALL FIXES (BEM)  █████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

/* Gambiarras no código, tentar remover depois */
.margintop-small{
	margin-top: 1em;
}

.widthmax{
	width: 100%; 
}

.nopaddingtop{
	padding-top: 0;
}

.center-x{
  justify-content: center;
}

.text-centralizer{ 
	text-align: center;
}

/* ────────────────────────────────────────────────────────────────────────── */
/* ██████████████████████████  ELEMENTOS (BEM)  █████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

.svgicon-small{
	/*Size 32px*/
	width: 2em;
	height: 2em;
	color: var(color-text-primary-muted);
}

.logo-header{
	height: 80px;
	width: auto
}

.hero-image{
 	/*Sizing*/
  position: relative;
  width: 40%;
  /*Layout*/
  display: flex;
}

.hero-image img{
	/*Layout*/
  margin-right: -80px; /* Cortar a foto fora do container */
  position: relative;
  z-index: 1;
}

.hero-image::before{
  content: ""; /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
  position: absolute; /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
  inset: -30% -40%; /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
  background: radial-gradient( /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
    circle at center, /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
    rgba(2,91,176,0.15), /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
    transparent 70% /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
  );
  z-index: 0; /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */
  pointer-events: none;
} /* NÃO FAÇO IDEIA DO QUE TA ACONTECENDO AQUI */

.divider-horizontal{
	width: 100%;
	height: 1px;
	background-color: var(--color-border-muted);
	margin: 0.5em 0em 0.5em 0em;
}


/* ────────────────────────────────────────────────────────────────────────── */
/* ██████████████████████████  hamburguer menu - NÃO SEI OQ TA ACONTECENDO  █████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */


.offscreen-menu{
	/*Decoration*/
	transition: .3s ease;
}

.offscreen-menu.active{
	/*Layout*/
	right: 0px;
}

body.menu-open {
	overflow: hidden;
}

.menu-toggle {
  display: none;
}

.offscreen-menu {
  display: none;
}

@media (max-width: 768px) {
  .container-nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .offscreen-menu {
  	background-color: var(--color-bg-light);
		/*Sizing*/
		height: 100vh;
		width: 100%;
		max-width: 450px;
		/*Position*/
		position: fixed;
		top: 0;
		right: -450px;
		/*Layout*/
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
  }
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  width: 26px;
  height: 3px;
  background-color: var(--color-text-primary);
  border-radius: 2px;
  transition: 0.3s;
}