

/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████████  VARIÁVEIS  █████████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

:root{
	/* Typography Colors */
	--color-text-primary: #ffffff;   /* White */
	--color-text-primary-muted: #ededed;     /* Off white */
	--color-subtext: rgba(255, 255, 255, 0.6); /* Subtext */

	/* Brand Colors */
	--color-primary: #0b111d;
	--color-secundary: #181e2b;
	--color-accent1: #025bb0; /* CTA Button */
	--color-accent1-hover: #0372db; /* CTA Button brighter*/

	/* Feedback Colors */
	--color-success: #10b981; 
	--color-error: #ef4444;
}


/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████████  TEMA BASE  █████████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

*{
	/*Texto Padrão*/
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-family: Open Sans;
	font-size: 1rem; /*16px*/
	text-align: left;
	line-height: 1.4; /*Espaçamento entre linhas*/

	/*Layout Padrão*/
	max-width: 1200px;
	box-sizing: border-box; /*As propriedades Height and Width include the content, padding, and border as the value. But do not include the margin*/
}

img{
	margin: 0;
}

body{
	background-color: var(--color-primary);
}

a:hover{
	opacity: 0.8;
}


/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████████  TIPOGRAFIA  ████████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

h1{
	/*Texto*/
	color: var(--color-text-primary); /*Primary TextColor*/
	font-size: 3.052rem; /*48px*/
	font-weight: bold;
	letter-spacing: -0.02em;
	line-height: 1.1; /*Espaçamento entre linhas*/
	margin-top:1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/
}

h2{
	/*Texto*/
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-size: 2.5rem;/*40px*/
	font-weight: bold;
	letter-spacing: -0.01em;
	line-height: 1.1; /*Espaçamento entre linhas*/
	margin-top: 1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/

}

h3{
	/*Texto*/
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-size: 2rem;/*32px*/
	font-weight: bold;
	line-height: 1.1; /*Espaçamento entre linhas*/
	margin-top: 1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/
}

h4{
	/*Texto*/
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-size: 1.5rem;/*24px*/
	font-weight: bold;
	line-height: 1.1; /*Espaçamento entre linhas*/
	margin-top: 1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/
}

p{
	color: var(--color-text-primary-muted); /*Muted TextColor*/
	font-size: 1rem;/*16px*/
	font-weight: normal;
	line-height: 1.4; /*Espaçamento entre linhas*/
	margin-top: 1rem; /*Espaçamento de paragrafo BEFORE*/
	margin-bottom: 0.5rem; /*Espaçamento de paragrafo AFTER*/
}

a{
	text-decoration: none;
	color: var(--color-text-primary); /*Primary TextColor*/
	font-size: 1rem;/*16px*/
	font-weight: normal;
	line-height: 1.4; /*Espaçamento entre linhas*/
}

.subtext{
	color: var(--color-subtext);
}

/* ────────────────────────────────────────────────────────────────────────── */
/* ████████████████████████████  LAYOUT  ████████████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

section{
	padding-top: 4rem;
	padding-bottom: 4rem;
}

nav ul{
	list-style: none;
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-end; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
}

footer section ul{
	list-style: none;
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-end; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
}

.container{
	/*Sizing*/
	max-width: 1200; /*Tamanho máximo da largura*/
	width: 100%;
	/*Layout*/
	display: flex;
	flex-direction: column; /*Container pai: linha ou coluna*/
	justify-content: flex-start; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
}

.widthmax{
	width: 100%; /*!!!!!!!!!Gambiarra no codigo, remover dps*/
}

.container-header{
	/*Sizing*/
	width: 100%;
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai é linha ou coluna*/
	justify-content: space-between; /*Children distribuition on horizontal if flex is row*/
	align-items: center; /*Children distribuition on vertical if flex is row*/
}

.container-nav{
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-end; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
}

.container-hero{
	width: 100%;
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: space-between; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
}

.hero-left{
	/*Layout*/
	display: flex;
	flex-direction: column; /*Container pai: linha ou coluna*/
	justify-content: flex-start; /*Children horizontal distribuition if flex is row*/
	align-items: start; /*Children vertical distribuition if flex is row*/
}

.hero-full-line{
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: flex-start; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
}

.container-highlights{
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: space-between; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/
	gap: 5%; /*Margin entre itens*/
}

.container-full-line{
	/*Layout*/
	display: flex;
	flex-direction: row;
	align-items: center;
}

.carousel-wrapper{
	/*Layout*/
	display: flex;
	flex-direction: row; /*Container pai: linha ou coluna*/
	justify-content: space-between; /*Children horizontal distribuition if flex is row*/
	align-items: center; /*Children vertical distribuition if flex is row*/

	/*SEI LA*/	
	gap: 5%; /*Margin entre itens*/
	overflow: hidden; /* ??? */
}

.container-footer-footer{
	width: 100%;
	/* Layout */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.card-highlight{
	/* Decoration */
	background-color: var(--color-secundary); /* Secundary Color */
	border-radius: 8px;

	/* Sizing */
	width: 30%;
	height: 100px;
	padding: 1rem;
	
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card{
	background-color: var(--color-secundary); /* Secundary Color */

	border-radius: 8px;

	/* Sizing */
	width: 30%;
	height: 260px;
	padding: 1rem;
	/* Layout */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.card-image{
	/*Sizing*/
	width: calc(100% + 2rem);
	height: auto;
	margin: -1rem -1rem 0rem -1rem; /* Remover o padding do container pai, sentido do relogio, top right bottom left */

	/*Decoration*/
	border-top-left-radius: 12px; /* Arredondamento da borda superior esq. da imagem */
	border-top-right-radius: 12px; /* Arredondamento da borda superior dir. da imagem */


}


/* ────────────────────────────────────────────────────────────────────────── */
/* ███████████████████████████  BOTÕES (BEM)  ███████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

.btn-primary{
	/*Decoration*/
	background-color: var(--color-accent1); /*CTA Color*/
	border-radius: 8px;
	/*Layout*/
	height: 48 px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1em; /*Usar rem ou em?*/
	/*Configurações das animações do botão*/
	transition:
		transform 0.15s ease,
		box-shadow 0.15s ease,
		background-color 0.2s ease,
		color 0.2s ease;

}

.btn-primary:hover{
	background-color: var(--color-accent1-hover); /*Hover Elevated CTA Color*/
	/*Fix size? maybe it is bigger than the text around*/
	transform: translateY(-1px) /*Leve movimentação para baixo, muito melhor que animação com scale*/
	box-shadow: 0 6px 16px rgba(0,0,0,0.15) /*Deslocamento X, Deslocamento Y, Blur, Cor da sombra RGBA*/
}

.btn-primary:active {
	/*Feedback ao clicar enquanto mantem o hover*/
	transform: translateY(0);
	box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.btn-secundary{
	/*Decoration*/
	background-color: rgba(0, 0, 0, 0.15); /* Transparent Color */
	border-radius: 8px;
	/*Layout*/
	height: 48 px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	/*Configurações das animações do botão*/
	transition:
		transform 0.15s ease,
		box-shadow 0.15s ease,
		background-color 0.2s ease,
		color 0.2s ease;
}

.btn-secundary:hover{
	background-color: rgba(0, 0, 0, 0.30); /* Secundary Color */
	transform: translateX(2px);
}

.btn-secundary:active{
	/*Feedback ao clicar enquanto mantem o hover*/
	transform: translateX(0px);
}

/* ────────────────────────────────────────────────────────────────────────── */
/* ██████████████████████████  ELEMENTOS (BEM)  █████████████████████████████ */
/* ────────────────────────────────────────────────────────────────────────── */

.svgicon-small{
	/*Size 16px*/
	width: 1em;
	height: 1em;
}

.logo-header{
	height: 80px;
	width: auto
}

.hero-image{
  width: 40%; /*???*/
  height: auto; /*???*/

  display: block; /*???*/
}

.divider-horizontal{
	width: 100%;
	height: 1px;

	display: block; /*???*/
	background-color: rgba(255, 255, 255, 0.6); /*???*/
	margin: 2rem 0; /*???*/
}